:root {
  --main-color: #9acd32;
  --sidebar-light: #c0c0c0e0;
  --secondary-color: #ffffff;
  --text-color: white;
  --bg-light-mode: white;
  --bg-dark-mode: #070f2b;
  --hover-color: #50b498;
  --active-color: #468585;
  --hover-color-dark-mode: #070f2b;
  --active-color-darkMode: #1b1a55;
  --bg-noteItems-light: #def9c4;
  --bg-noteItems-dark: #2d3250;
  --bg-color-note-ori: #DFD3C3;
  --bg-color-note-green: #9dde8b;
  --bg-color-note-orange: #ffa823;
  --bg-color-note-blue: #96efff;
  --bg-color-note-purple: #9f70fd;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.205);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

}

.my-border {
  border: 1px dashed red;
}

/* font */
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt"0;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt"0;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt"0;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt"0;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt"0;
}

.inter-regular-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt"-10;
}

.inter-medium-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt"-10;
}

.inter-semibold-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt"-10;
}

.inter-bold-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt"-10;
}

.inter-extrabold-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt"-10;
}

/* Font  */

/* GLOBAL */
.color-note-ori {
  color: #DFD3C3;
}

.color-green {
  color: #9dde8b;
}

.color-orange {
  color: #ffa823;
}

.color-blue {
  color: #96efff;
}

.color-purple {
  color: #9f70fd;
}

.container {
  max-width: 800px;
  padding-block: 32px;
  padding-inline: 16px;
}

.card {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
}

label {
  display: block;
}

/* GLOBAL */

/* Start of Header */
header {
  background-color: var(--secondary-color);
  width: 100%;
  color: var(--main-color);
  padding: 0px;
}

.app-bar {
  padding: 24px 20px;
}

.app-bar .brand-name {
  margin: 0;

  font-size: 1.7em;
}

/* End of Header */

.inotes-bar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.inotes-bar>i.fi-rs-journal {
  font-size: 1.7em;
}

/* Search bar */
.search-bar-container {
  display: inline;
}

/* Tools */
.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Tools */

/* Search bar */
.floating-form {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
  position: sticky;
  top: 0px;
  width: max-content;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.search-form .form-group {
  flex-grow: 1;

  position: relative;
}

.search-form .form-group input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 14px 14px 0 14px;
  border-inline: none;

  border-block-start: none;
  border-block-end: 1px solid var(--secondary-color);
  font-size: 1em;
}

.search-form .form-group input:focus-visible {
  outline: 0;
}

.search-form .form-group label {
  line-height: 40px;
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--main-color);
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 20px;

  pointer-events: none;

  transition: 150ms all ease-in-out;
}

.search-form .form-group input:focus-visible~label,
.search-form .form-group input:valid~label {
  left: 10px;
  top: -16px;
  font-size: 0;
}

img#searchFormButton {
  background-color: var(--secondary-color);
  background-image: url('src/icons/search-lightmode.png');
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 100ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
}

img#searchFormButton:hover {
  background-image: url('src/icons/search-lightmode-hover.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding-right: 36px;
  padding-top: 5px;
  padding-bottom: 5px;

}

img#searchFormButton:active {
  color: var(--active-color);
  background-image: url('src/icons/search-lightmode-active.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding-right: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Search bar */

/* Start of Navbar */




/* .navbar>nav>.title-section>h3.your-notes:hover, h3.archive:hover {
  transform: scale(1.1);
}

.navbar>nav>.title-section>h3.your-notes:checked, h3.archive:target {
  font-size: 1.5em;
} */



@media (min-width: 600px) {
  .note-body {
    max-width: 45%;
  }
}

@media (min-width: 900px) {
  .note-body {
    max-width: 30%;
  }
}

.navbar>nav>.tools {
  gap: 10px;
}

.navbar>nav>.tools>.bi-person-circle {
  cursor: pointer;
  padding: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar ul li:hover {
  color: var(--hover-color);
}

.navbar ul li:active {
  color: var(--active-color);
}

/* End of Navbar */
/* Start of Sidebar */
aside {
  background: var(--main-color);
  position: fixed;
  height: 100%;
  border-right: 2px solid var(--sidebar-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 16px;
  width: 175px;
  margin-bottom: 0;
  border-top-right-radius: 20px;

  box-shadow: var(--dark-shadow);
}

aside.aside-tools {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.create-button {
  display: flex;

  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 14px;

}

.trash-archive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 2rem;
  cursor: pointer;
}

aside>.aside-tools>.bi-plus-circle-fill {
  fill: var(--bg-dark-mode);
  cursor: pointer;
  transition: var(--transition);
}

aside>.aside-tools>.bi-plus-circle-fill:hover {
  fill: var(--hover-color);
  transform: rotate(360deg);
}

aside>.aside-tools>.bi-plus-circle-fill:active {
  fill: var(--active-color);
}

aside>.aside-tools>i.fi-sr-note-sticky {
  cursor: pointer;
  font-size: 1.5rem;
}

/* Sidebar End */

/* Start of Main */
main {
  color: var(--bg-dark-mode);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;

}

main>.container {
  color: var(--bg-dark-mode);
  padding: 0;
  margin: 0;
  gap: 0;
}

section {
  background-color: var(--bg-light-mode);
  display: grid;
  grid-template-rows: 5% 95%;
  margin-left: 12px;
  margin-top: 12px;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: static;
  margin-left: 200px;
}

/* Start of Note Item */
.note-list-container {
  padding: 0px;
  margin: 0;
  border-radius: 25px;
  height: 100vh;
}

.note-list-item {
  height: 100vh;
  padding: 10px;
  margin: 10px;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(4, 25%); */
  gap: 18px;
  box-sizing: border-box;
}

.note-body {
  background: var(--bg-color-note-orange);
  padding: 20px;
  margin: 10px;
  border-radius: 7px;
  font-size: 14px;
  overflow: initial;
  /* text-overflow: ellipsis; */
  line-height: 1.5;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  min-width: 250px;
  /* max-height: 250px; */
  display: grid;
  grid-template-columns: 85% 15%;
  transition: transform 0.3s;
}

.note-body:hover {
  transform: scale(1.05);
}

@media (min-width: 600px) {
  .note-list-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .note-body {
    max-width: 45%;
  }
}

@media (min-width: 900px) {
  .note-list-item {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-body {
    max-width: 30%;
  }
}

@media (min-width: 1200px) {
  .note-list-item {
    grid-template-columns: repeat(4, 1fr);
  }

  .note-body {
    max-width: 20%;
  }
}

.note-body>i.bi-bookmarks {
  color: var(--bg-dark-mode);
  cursor: pointer;
  transition: var(--transition);
  width: 1.5rem;
  font-size: 1.8rem;
}

.note-body>i.bi-bookmarks-fill {
  cursor: pointer;
  transition: var(--transition);
  font-size: 1.6rem;
}

.note-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 12px;
}

.note-title>h2 {
  font-size: 1rem;
}

.note-body-tool {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  cursor: pointer;
  font-size: 1.5em;
}

.note-body>article {
  font-size: 14px;
  font-weight: 300;
}

i.fi-sr-file-edit {
  color: var(--bg-dark-mode);

}

i.fi-sr-file-edit:hover {
  color: var(--hover-color);
}

i.fi-sr-file-edit:active {
  color: var(--active-color);
}

i.fi-sr-trash {
  color: var(--bg-dark-mode);
}

i.fi-sr-trash:hover {
  color: var(--hover-color);
}

i.fi-sr-trash:active {
  color: var(--active-color);
}

i.fi-rr-inbox-full {
  color: var(--bg-dark-mode);
}

i.fi-rr-inbox-full:hover {
  color: var(--hover-color);
}

i.fi-rr-inbox-full:active {
  color: var(--active-color);
}

/* End of Note Item */

/* End of Main */

/* Start of Footer */
footer {
  color: var(--bg-dark-mode);
  font-size: 0.75rem;
}

footer>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 10px;
  list-style: none;
  font-size: 20px;
}

.main-footer {
  text-align: left;
}

/* End of Footer */